/* CSS for React Popover (X) */

/* Container */
.rpx__container {
    width: fit-content;
    position: relative;
}

/* Content */
.rpx__content {
    width: max-content;
    position: absolute;
    z-index: 999;
}

.rpx__content--hover-opened {
    transition-property: opacity visibility;
    transition-delay: 200ms;
}

.rpx__content-invisible {
    visibility: hidden;
    opacity: 0;
}

.rpx__content-visible {
    visibility: visible;
    opacity: 100;
}

/* This is for Hover effect (Tooltip). If trigger hovered / focused, wrapper hover / focused-within, content hovered / focused: opacity 100% */
.rpx__trigger:hover ~ .rpx__content--hover-opened,
.rpx__trigger:focus ~ .rpx__content--hover-opened,
.rpx__container:hover .rpx__content--hover-opened,
.rpx__container:focus-within .rpx__content--hover-opened,
.rpx__content--hover-opened:hover,
.rpx__content--hover-opened:focus {
    visibility: visible;
    opacity: 100%;
}

/* Indicator */
.rpx__indicator {
    width: 0.75rem;
    height: 0.75rem;
    background-color: white;
    position: absolute;
    rotate: 45deg;
    z-index: -10;
}
