/* CSS for React Popover (X) */

/* Container */
.rpx__container {
    width: fit-content;
    position: relative;
}

/* Content */
.rpx__content {
    width: max-content;
    position: absolute;
    z-index: 999;
}

.rpx__content--invisible {
    visibility: hidden;
    opacity: 0;
}

.rpx__content--visible {
    visibility: visible;
    opacity: 100;
}

.rpx__content--visible-controlled {
    visibility: hidden;
    opacity: 0;
}

/* We will control the visibility of the content using `data-popover-visible` */
.rpx__content--visible-controlled[data-popover-visible="true"] {
    visibility: visible;
    opacity: 100;
}

.rpx__content--visible-controlled:hover,
.rpx__content--visible-controlled:focus {
    visibility: visible;
    opacity: 100%;
}

/* Transition only if `hover` effect on session */
.rpx__content--on-hover {
    transition-property: opacity, visibility;
    transition-delay: 150ms;
}

/* Indicator */
.rpx__indicator {
    width: 0.75rem;
    height: 0.75rem;
    background-color: white;
    position: absolute;
    rotate: 45deg;
    z-index: -10;
}
